{{>header}}
<h3>Exemplo de listagem baita no mustache</h3>
{{#listaDeExemplo}}
    <b> Name: </b>{{name}}
    <b> Age: </b>{{age}}
    <b> Phone: </b>{{phoneNo}}
    <b> Email: </b>{{emailId}}
    <br>
    <hr>
{{/listaDeExemplo}}
<button >
    adicionar novo
</button>
{{>footer}}